.mails-body .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; 

    background-color: var(--mainClrGray);
    width: 150px;
    min-height: calc(100vh - 80px);
    padding-inline: 10px;
}

.mails-body .features div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    box-sizing: border-box;
    padding: 5px;
    padding-inline-end: 15px;
    cursor: pointer;
    border-radius: 555px;
}

.mails-body .features div:hover {
    background-color: rgb(184, 184, 184, 0.3);
}

.mails-body .features * {
    margin: 0;
}

.mails-body .features i {
    font-size: 15px;
    cursor: pointer;
}


.features div .unread-messages {
    color: white;
    background-color: #c5221f;
    padding: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 14px;
    text-align: center;
}

.features div {
    position: relative;
}

.features div.compose-feature {
    padding-block: 20px;
    background-color: #d3e3fd;
    margin-bottom: 10px;
}

.features div.compose-feature:hover{
    background-color: #c6ddff
}

.features div.active{
    background-color: #c6ddff
}

.features div.active:hover{
    background-color: #b6d3ff;
}