.mails-container tr{
    cursor: pointer;
}

.mails-container tr td {

    border-bottom: 1px solid #c0c0c0;

}

.mails-container tr td:first-child {
    /* width: 150px; */
}

.mails-container tr td:last-child{
    /* width: 50px; */
}

.mails-container tr td{
    /* word-wrap: break-word; */
}

.mail-row{
    display: flex;
}