.mail-filter {
    display: flex;
    justify-content: center;
    background-color: #f6f8fc;
    padding: 5px;
    font-family: sans-serif;
    font-size: 0.75rem;
}

.filter-by-form{
    display: flex;
    align-items: center;
    gap: 20px;
}

.filter-by-form .search-mail-container {
    display: inline-block;
    width: 300px;
    background-color: #eaf1fb;
    padding: 15px;
    border-radius: 555px;
}

.filter-by-form .search-mail {
    border: none;
    background-color: #eaf1fb;
    border-radius: 555px;
    width: calc(100% - 30px);
}

.filter-by-form .search-mail:focus {
    outline: none;
}

.search-mail-container:focus-within {
    outline: 1px solid rgba(35, 34, 34, 0.18);
}

.unread-msg-filter{
    display: flex;
    align-items: center;
}