.about{
    width: 80vw;
    max-width: 750px;
    padding: 20px;
    background-color: rgb(249 182 44 / 21%);
    border-radius: 30px;
    margin: auto;
    margin-top: 10px;
}

.about img {
    width: 30vw;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    font-size: 14px;
}

.team {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 30px 200px 20px;
    place-items: center;
    place-content: center;
    gap: 20px;
    padding-block: 30px;
}

.team-header {
    grid-column: 1 / -1;
}

.tal-img {
    grid-row: 2/3;
}

.about span{
    font-size: 25px;
    font-weight: bold;
}

.about p{
    line-height: 27px;
}

.team p{
    text-align: center;
}