.home {
    height: calc(100vh - 65px);
    width: 100vw;
    background-color: #fdf7df;
    display: grid;
    place-content: center;
}

.home-img {
    max-width: 30%;
    animation: fadeInUp 4s;
}
