.home {
    height: calc(100vh - 65px) !important;
    width: 100vw !important;
    background-color: #fdf7df;
    display: grid !important;
    place-content: center !important;
}

.home-img {
    width: 300px !important;
    animation: fadeInUp 4s;
}
