/* note list */

* {
    font-family: 'google-sans';
}
.note-card {
    break-inside: avoid;
    break-inside: avoid-column;
}
.note-card > * {
    list-style: none;
    margin: 0%;
}

.note-card p {
    padding-left: 10px;
}

.note-card:hover {
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.note-context {
    padding: 0%;
}

.note-card .note-btns {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.note-card:hover .note-btns {
    opacity: 1;
}

.note-btns .btn {
    padding: 0.5rem;
}

.note-pinned {
    columns: 240px;
    column-gap: 15px;

    margin-bottom: 90px;
}
.note-unpinned {
    columns: 240px;
    column-gap: 15px;
}

.title-note-list {
    font-size: 0.625rem;
    margin-inline-start: 10px;
}

.line-through {
    text-decoration: line-through;
}
