.form-note-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 450px;
    padding: 20px 10px;
    font-size: 1rem;
    line-height: 1.25rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.form-note-edit .bar-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 1.2rem;
}
.form-note-edit .bar-input:focus {
    outline: none;
}

.form-note-edit form {
    width: 100%;
}
