.form-note-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px 10px;
    line-height: 1.25rem;
    font-size: 0.875rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
}

.form-note-edit .bar-input {
    width: 100%;
}

.bar-input {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bar-input input {
    flex-grow: 1;
}
