.form-note-edit {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    max-width: 450px;
    font-size: 1rem;
    line-height: 1.25rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.form-note-edit .bar-input {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    border: none;
    border-radius: 8px;
    padding: 12px 16px 11px 11px;
    font-size: 1.2rem;
}
.form-note-edit .bar-input:focus,
.bar-input-list:focus {
    outline: none;
}

.form-note-edit form {
    width: 100%;
}

.bar-input-list {
    border: none;
}

.form-note-edit ul {
    list-style: '+ ';
    color: var(--btnClr);
}

.btn {
    margin: 5px;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--btnClr);
    background-clip: padding-box;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.btn-close-and-send-form {
    position: absolute;
    right: 0;
    bottom: 0;

    border: none;
    background: none;
    cursor: pointer;
    color: var(--btnClr);
    background-clip: padding-box;
    width: max-content;
    height: 35px;
    border-radius: 7px;
    font-family: 'google-sans';
    font-size: 1rem;
    font-weight: 600;
}

.btn-close-and-send-form:hover,
.btn:hover {
    color: var(--blackClr);
    background-color: var(--btnBgClr);
    box-shadow: inset 1px 1px 0 var(--btnShadowClr);
}

.color-button {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    margin-inline-start: 5px;
}
.color-button:hover {
    outline: 0.5px solid var(--btnClr);
    cursor: pointer;
}
