.mail-details-bgc {
    background-color: #eef3fa;
    min-height: calc(100vh - 80px);
}

.mail-details-container {
    display: grid;
    grid-template-areas:
        'narrow-back more-actions'
        'title       title'
        'user-img    from'
        'to          to'
        'body        body'
        'btns        btns';
    background-color: white;
    border-radius: 30px;
    max-width: 80vw;
    /* width: calc(100% - 200px); */
    margin: auto;
    /* margin-inline: 50px; */
    padding: 30px 30px 10px 20px;
    justify-content: left;
}

.mail-details-container h1 {
    grid-column: 2/-1;
}

.mail-details-container .sent-to {
    margin-top: 0;
    grid-column: 2/-1;
}

.mail-details-container .mail-body {
    grid-column: 2/-1;
    max-width: 900px;
}

.mail-details-container .replay-forward-btn {
    grid-column: 2/-1;
}

.back-narrow,
.user-img {
    justify-self: end;
    margin-inline-end: 20px;
}

.back-narrow {
    margin-inline-end: 30px;
}

.mail-details-container * {
    font-family: sans-serif;
}

.mail-details-container>* {
    margin-block-end: 30px;
}

.mail-details-container img {
    width: 40px;
}

.mail-details-container .back-btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions i:hover{
    border-radius: 50%;
    background-color: #e9e9e9;
}

.actions i {
    cursor: pointer;
    padding: 5px;
    font-size: 17px;
    color: #474747;
}

.sent-by {
    display: flex;
    align-items: start;
    gap: 8px;
}

.sent-by p {
    padding-top: 7px;
    margin: 0;
    font-size: 0.8rem;
}

.replay-forward-btn >*:hover{
    background-color: #eeeeee;
}

.replay-forward-btn>* {
    color: #474747;
    background-color: white;
    padding: 10px;
    border-radius: 555px;
    border: 1px solid #474747;
    cursor: pointer;
    margin-top: 30px;
}

.replay-forward-btn button:first-child {
    margin-inline-end: 5px;
}

.replay-forward-btn button {
    padding-inline: 15px;
}

.replay-forward-btn button i {
    margin-inline-end: 10px;
}