 .mails-layout {
     display: flex;
     font-family: sans-serif;
     /* font-weight: bold; */
     /* font-family: 'google-sans-bold'; */
     font-size: 0.875rem;
 }

 .bold {
     font-weight: bold;
 }