 .mails-layout {
     display: flex;
     font-family: sans-serif;
     /* font-weight: bold; */
     /* font-family: 'google-sans-bold'; */
     font-size: 0.875rem;
 }

 .mails-layout .features {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 5px;

     background-color: #eaf1fb;
     width: 68px;
 }

 .mails-layout .features i {
     font-size: 15px;
 }

 .bold{
    font-weight: bold;
 }

 .features div{
    /* position: relative; */
 }

 .features div .unread-messages{
    color: white;
    background-color: #c5221f ;
    padding: 3px;
    border-radius: 40%;
    /* position: absolute;
    top: 0; */
 }

