 .mails-body {
     display: flex;
     font-family: sans-serif;
     font-size: 0.875rem;
     position: relative;
 }

 .bold {
     font-weight: bold;
 }

 .more-options{
    display: flex;
    justify-content: center;
    width: 20px;
    min-height: calc(100vh - 80px);
    background-color: #eef3fa;
    padding: 5px;
 }
 
 .more-options i {
    cursor: pointer;
    font-size: 20px;
    height: fit-content;
    padding: 5px;
    background-color: #c6ddff;
    border-radius: 50%;
 }

 .more-options i:hover{
    background-color:white;
 }
