/* Setup */

@import './setup/variables.css';
@import './setup/typography.css';
/* @import './setup/fonts.css'; */

/* Basics */

@import './basics/base.css';
@import './basics/helpers.css';
/* @import './basics/layout.css'; */

/* Views */
@import './views/home.css';

@import './apps/note/views/NoteIndex.css';

@import './apps/mail/views/MailIndex.css';
@import './apps/note/views/NoteMq.css';

/* Cmps */

@import './cmps/UserMsg.css';
@import './cmps/AppHeader.css';

@import './apps/mail/cmps/MailList.css';
@import './apps/mail/cmps/MailPreview.css';
@import './apps/mail/cmps/MailCompose.css';
@import './apps/mail/cmps/MailFeatures.css';
@import './apps/mail/cmps/MailFilter.css';
@import './apps/mail/views/MailDetails.css';

@import './apps/note/cmps/NoteList.css';
@import './apps/note/cmps/NoteInput.css';
@import './apps/note/cmps/NotePalette.css';
@import './apps/note/cmps/NoteEdit.css';

@import './setup/mq.css';
