/* note index */
img {
    border-radius: 7px 7px 0 0;
}
.note-card {
    /* background: rgb(211, 122, 122); */
    border: 0.5px solid rgba(35, 34, 34, 0.18);
    border-radius: 8px;
    padding: 0 0 10px 0;
    margin: 10px;
    margin-top: 0;
}
