header {
    background: var(--mainClrGray);
}

* {
    box-sizing: border-box;
}

.app-header {
    display: flex;
    justify-content: space-between;
    /* padding: 20px 0; */
}

.main-logo {
    padding-inline-start: 15px;
}

.note-logo {
    padding-inline: 10px;
}

.logo {
    width: auto;
    padding: 10px;
}

.app-header img {
    height: 60px;
}

.app-header nav {
    display: flex;
    align-items: center;
}

/* <img
                    className="logo"
                    src="./assets/img/app/workspace.png"
                    alt="workspace_logo"
                /> */
